{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="datetime" id="datetime"></div>
    <h2>Bienvenido a la Comunidad!</h2>

    <form method="get" action="{% url 'Integrantes:buscar' %}">
        <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar músicos o bandas...">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <h3>Lista de Músicos</h3>
    <ul class="list-group">
        {% for musico in musicos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ musico.nombre }}
                <a href="{% url 'Integrantes:detalles_musico' musico.id %}" class="btn btn-primary">Detalles</a>
            </li>
        {% endfor %}
    </ul>

    <h3>Lista de Bandas</h3>
    <ul class="list-group">
        {% for banda in bandas %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ banda.nombre }}
                <a href="{% url 'Integrantes:detalles_banda' banda.id %}" class="btn btn-primary">Detalles</a>
            </li>
        {% endfor %}
    </ul>
</div>
<script>
    function updateDateTime() {
        var now = new Date();
        var dateTime = now.toLocaleDateString() + ' ' + now.toLocaleTimeString();
        document.getElementById('datetime').innerText = dateTime;
    }
    setInterval(updateDateTime, 1000);
</script>
{% endblock %}
