{% extends 'core/base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<h2>About Me</h2>
<p>¡Bienvenido a nuestro sitio web de música! Somos una plataforma diseñada para conectar músicos individuales y bandas que buscan colaborar en diversos géneros musicales. Ya sea que estés buscando formar una banda nueva o unirte a un proyecto existente, nuestro objetivo es ayudarte a encontrar el compañero musical perfecto. Unete a nuestra comunidad, crea tu perfil y comienza a conectar con otros artistas! </p>
{% endblock %}
